
    html, body {
      width: 100%;
      height: 100%;
    }

    body {
      text-align: center;
      margin: 0;
      color: #FF1492;
      background-color: #000;
      xtext-shadow: white 0px 0px 20px;
      font-family: Arial;
      xoverflow: hidden;
    }
    h1
    {
      text-shadow: white 0px 0px 100px;
    }
    a
    {
      color: white;
    }

    pre
    {
      color: #ccc;
      text-align: left;
      line-height: 16px;
      background-color: #000;
      padding: 5px;
      border-radius: 5px;
      margin: auto;
      display: inline-block;
      text-align:left;
    }

    .ribbon
    {
      position: fixed;
      z-index:1;

      height: 22px;
      font-style: italic;
      width: 100%;
      background-color: rgba(50,0,50,0.8);
      text-align: left;
      padding-top: 5px;
      padding-left: 15px;

      color: #eee;
    }

    .ribbon .title {
      font-weight: bold;
    }

    .footer {
      bottom: 0;
    }
    .header {
      top: 0;
    }

    .ribbon .right {
      float: right;
      margin-right: 30px;
    }

    .demo
    {
      position: fixed;
      width: 100%;
      opacity: 0.8;
    }
