
@import 'nib'

/* CSS declarations go here */
@font-face {
  font-family: 'StitchWarrior';
  src:  url('StitchWarrior.ttf');

}

.bigdots {
	font-family: 'StitchWarrior';
}

body {
	text-align: center;
}

h1 {
	font-size: 64px;
	font-weight: normal;
}

input[name=text] {
	width: 810px;
	font-size: 15px;
	margin-bottom: 20px;
	border: 0;
	background-color: rgba(128,255,0,0.4);
	box-shadow: 0 0 10px rgba(0,0,0,0.5) inset;
	padding: 10px;
	font-family: courier;
}

.glyph-container {
	/*margin: auto;*/
	/*display: flex;*/
	/*justify-content: center;*/
	padding: 20px;
	position: relative;
	transition: background-color .2s linear;
}

.flex {
	display: flex;
	justify-content: center;
	& > * {
		width: 256px;
		margin-right: 20px;
	}
}

.headers {
	font-family: Verdana;
	opacity: 0;
	-webkit-transition: opacity .2s linear;
	position: absolute;

	top: 0;
	left: 0;
	width: 100%;
	color: white;
	font-size: 12px;
	padding: 5px;
	h2 {
		background-color: rgba(255,0,0,0.5);
		text-align: center;
	}
}

.glyph {
	font-family: 'StitchWarrior';
	/*display: inline-block;*/
	vertical-align: top;
	margin-bottom: 20px;
	margin-right: 20px;
	width: 256px;
	height: 256px;
	font-size: 256px;
	border-bottom: 2px solid #eee;
	text-align: left;

	.glyph-ajust {
		position: relative;
		top: 25px;
	}
}

canvas, svg, pre {
	display: inline-block;
	/*margin-bottom: 20px;*/
	margin-right: 20px;
	width: 256px;
	height: 256px;
}

pre {
	background-color: rgba(128,255,0,0.4);
	box-shadow: 0 0 10px rgba(0,0,0,0.5) inset;
	font-family: 'courier';
	text-align: left;
	padding: 10px;
	box-sizing: border-box;
	margin-top: 0;
	overflow-y: scroll;
}



.glyph-container:hover {
	background-color: rgba(255,255,128,0.3);
	.headers {
		opacity: 1;
	}

	svg {
		circle {
				-webkit-animation: pulsate 2s infinite;
		}

		for i in (1..256) {
	  		circle:nth-child({i}) {
	    		-webkit-animation-delay: 0.01s * i;
	  		}
		}
	}
}

@-webkit-keyframes pulsate {
  0%   { opacity: 1; }
  25%  { opacity: 0; }
  50% { opacity: 1; }
}
