body {
  xpadding: 40px;
  background-color: #888;
  color: white;
  font-family: Arial;
}
h1 {
  font-size: 150%;
  text-align: center;
  text-shadow: 5px 5px  #444;
}
#panel
{
  background-color: #444;
  padding: 20px;
  width: 1000px;
  min-width: 128px;
  margin: auto;
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px 5px #333;
}
.subpanel
{
  xdisplay: inline-block;
  xfloat: left;
  xborder: 1px solid orange;
}

.glyph-editor {
  border: 2px solid #666;
  background-color: #666;
}
#output
{
  xborder: 1px solid blue;
  background-color: #666;
  color:white;
}
#output_compressed
{
  xborder: 1px solid blue;
  background-color: #666;
  color:white;
}