<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=9,chrome=1">
    <title>{{ title }} -- Pxxl.js</title>
    <link rel="stylesheet" href="../demo.css">
  
    {% if theme %}
    <link rel="stylesheet" href="../{{ theme }}.css">
    {% endif %}
    
    <link rel="stylesheet" href="demo.css">

    <link rel="stylesheet" href="../highlight.css">
    
    {% if highlight_theme %}
    <link rel="stylesheet" href="../{{ highlight_theme }}.css">
    {% endif %}
  
  </head>
  <body>
    <div id="demo" class="demo"></div>
  <!-- <canvas class="demo" width="900" height="80"></canvas> -->

  <div class="ribbon header">
    <span class="title">{{ title }}</span>
    <span class="right">
<!--        <a href="https://twitter.com/share" class="twitter-share-button" data-via="remcoder" data-dnt="true">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<div class="g-plusone"></div>

<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
 -->
    </span>
  </div>

  <div class="ribbon footer">
    &copy; 2012 <a href="http://twitter.com/remcoder">@remcoder</a>
    

    <span class="right">see the <a href="https://github.com/remcoder/Pxxl.js">Pxxl.js Github repo</a> for tha codez</span>
  </div>


  <pre class="code">
    <code class="javascript">
{{ code }}
    </code>
  </pre>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript">
  </script>
  <script src="../modernizr.js"></script>
  <script src="../pxxl-0.4.0.js" type="text/javascript"></script>
    {% autoescape false %}
    <script type="text/javascript" id="code">
      {{ code }}
    </script>
    {% endautoescape %}
    <script src='../highlight.pack.js'></script>
    <script>
      // $("code").text($("#code").text());
      hljs.tabReplace = '  ';
      hljs.initHighlightingOnLoad();
    </script>
    <script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24377032-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
  </body>
</html>
